<div class="jumbotron">
  <h1>Add a Word</h1>

  <form action="/words" method="post">
    <div class="form-group">
      <label for="word">Word:</label>
      <input type="text" name="word" id="word" class="form-control">
    </div>

    <button type="submit" class="btn btn-lg btn-success">Add Word</button>
  </form>
</div>
